.menu {
    box-sizing: border-box;
    position: fixed;
    top: 9vh;
    right: 4vw;
    z-index: 100;
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid grey;
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
.menuitem {
    padding: 0.4rem 1.5rem 0.4rem 0.8rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    cursor: pointer;
}
.menuitem > p:hover {
    text-decoration: underline;
}
.menuitem > p {
    margin-left: 5px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 0.6rem;
}

.menuitem > img {
    height: 2rem;
    width: 1.990rem;
    border-radius: 5px;
}
.menuprofiles {
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
}
.menuprofiles > a {
    text-decoration: none;
    color: white;
    font-size: 0.825rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0.6rem;
}
.menuprofiles > a:hover {
    text-decoration: underline;
}
.menulinks {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 2px;
    align-items: flex-start;

}
.menulinks a {
    text-decoration: none;
    color: white;
    font-size: 0.825rem;
    font-weight: 700;
    margin: 3px 10px;
}
.menulinks a:hover{
    text-decoration: underline;
}

